export OCP4_MASTER_API="api.cluster-xdz9q.xdz9q.sandbox1349.opentlc.com:6443"
export OCP4_WILDCARD_DOMAIN="apps.cluster-xdz9q.xdz9q.sandbox1349.opentlc.com"
export OCP4_USER="admin"
export OCP4_PASSWORD="r3dh4t1!"

export DB_NAME="apicuriodb" 
export DB_USER="admindb"
export DB_VENDOR="postgresql"

export KC_REALM="apicurio"
export KC_USER="adminkc"

export UI_ROUTE="apicurio-studio.${OCP4_WILDCARD_DOMAIN}"
export API_ROUTE="apicurio-studio-api.${OCP4_WILDCARD_DOMAIN}"
export WS_ROUTE="apicurio-studio-ws.${OCP4_WILDCARD_DOMAIN}"
export AUTH_ROUTE="apicurio-studio-auth.${OCP4_WILDCARD_DOMAIN}"